services:
  nginx:
    image: nginx
    restart: unless-stopped
    container_name: nginx
    volumes:
      - "/etc/letsencrypt:/etc/letsencrypt"
      - "/opt/homebrew/var/www/magento24:/var/www/html"
      - "./nginx/nginx.conf:/etc/nginx/nginx.conf"
      - "./nginx/conf.d:/etc/nginx/conf.d"
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - php
      - mysql
      - redis
      - opensearch
    networks:
      docker_composer_net:
        ipv4_address: 172.19.0.6
        aliases:
          - nginx
  php:
    build:
      context: ./php/8.4-fpm
      dockerfile: Dockerfile
    restart: unless-stopped
    image: antonydu/php:8.4-fpm
    expose:
      - 9000
    container_name: php
    volumes:
      - "/opt/homebrew/var/www/magento24:/var/www/html"
      - "./php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf"
      - "./php/php-fpm.d/php.ini:/usr/local/etc/php/php.ini"
    networks:
      docker_composer_net:
        ipv4_address: 172.19.0.2
        aliases:
          - php
  mysql:
    image: mysql:8.4
    restart: unless-stopped
    container_name: mysql
    volumes:
      - "./mysql/data:/var/lib/mysql"
    expose:
      - 3306
    environment:
      MYSQL_ROOT_PASSWORD: "12345abc"
    networks:
      docker_composer_net:
        ipv4_address: 172.19.0.3
        aliases:
          - mysql
  redis:
    image: redis
    restart: unless-stopped
    container_name: redis
    expose:
      - 6379
    networks:
      docker_composer_net:
        ipv4_address: 172.19.0.4
        aliases:
          - redis
  opensearch:
    image: opensearchproject/opensearch:2.19.4
    restart: unless-stopped
    container_name: opensearch
    environment:
      discovery.type: "single-node"
      DISABLE_SECURITY_PLUGIN: "true"
      OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
    expose:
      - 9200
      - 9300
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
      docker_composer_net:
        ipv4_address: 172.19.0.5
        aliases:
          - opensearch
networks:
  docker_composer_net:
    ipam:
      driver: default
      config:
        - subnet: "172.19.0.0/16"
